<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="topper-sfondo"></div>
        <!-- container -->
        <div class="container">

            <!-- contact side -->
            <section class="container-cnt">

                <!-- header -->
                <header class="header-cnt">

                    <!-- profile -->
                    <div class="profile">
                        <!-- icon -->
                        <div class="profile-icon">
                            <img :src="mioProfilo.avatar" :alt="mioProfilo.name">
                        </div>
                        <!-- name -->
                        <div class="profile-name">
                            <span>{{mioProfilo.name}}</span>
                        </div>      
                    </div>

                    <!-- dx - menu -->
                    <nav class="opz">

                        <ul>
                            <li>
                                <i class="fa-solid fa-power-off"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-message"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </li>
                        </ul>

                    </nav>

                </header>

                <!-- content contatti -->
                <main class="content-cnt">

                    <!-- avviso notifiche -->
                    <div class="ricevi-notifiche">
                        <div class="campanella">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="txt">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div>Attiva notifiche desktop</div>
                        </div>
                    </div>

                    <!-- search bar -->
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text"  v-model="ricerca" v-on:keyup="cercanome" class="search" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <!-- blocco contatti -->
                    <div class="contacts">

                        <!-- scheda contatto -->
                        <div id="scheda"

                        :class="activeContact === index ? 'active' : ''" :class="contacts[index].visible ? '' : 'off'" 

                        v-for="(contact, index) in contacts" @click="activateContact(index)">

                            <!-- profile -->
                            <div class="profile">
                                <!-- icon -->
                                <div class="profile-icon">
                                    <img :src="contact.avatar" :alt="contact.name">
                                </div>
                                <!-- name -->
                                <div class="profile-name">
                                    <span>{{contact.name}}</span>
                                    <div class="access">Ultimo accesso</div>
                                </div>      
                            </div>
                            
                            <div class="access">12.00</div>

                        </div>
                    </div>
                </main>
            </section>

            <!-- msg side -->
            <section class="container-msg">

                <!-- header messaggi-->
                <header class="header-msg">
                    <!-- profile -->
                    <div class="profile">
                        <!-- icon -->
                        <div class="profile-icon">
                            <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                        </div>
                        <!-- name -->
                        <div class="profile-name">
                            <span>{{contacts[activeContact].name}}</span>
                            <div class="access">Ultimo accesso</div>
                        </div>      
                    </div> 

                    <!-- dx - menu -->
                    <nav class="opz">

                        <ul>
                            <li>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-paperclip"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </li>
                        </ul>

                    </nav>

                </header>

                <!-- messaggi -->
                <main id="content-msg">
                    <div class="container-messaggio" v-for="(message, index) in contacts[activeContact].messages">
                        <div :class="message.status === 'sent' ? 'messaggio inviato' : 'messaggio ricevuto'">
                            <span class="testo-msg">
                                {{message.message}}
                            </span>
                            <span class="ora-msg">
                                {{message.date}}
                            </span>
                        </div>
                    </div>
                </main>

                <!-- footer -->
                <footer class="footer-msg">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" v-model="newMessage" @keyup.enter="addMessage" placeholder="Scrivi un messaggio" class="whrite-msg">
                    <i class="fa-solid fa-microphone"></i>
                </footer>
            </section>

        </div>


    </div>

    <!-- connessioni -->
    <script src="https://unpkg.com/vue@3"></script>
    <script  type="text/javascript" src="js/myscript.js"></script>
</body>
</html>